<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_tex.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,6}</string>
                <key>spriteSourceSize</key>
                <string>{120,6}</string>
                <key>textureRect</key>
                <string>{{0,0},{120,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ghysx.png</string>
            <key>size</key>
            <string>{120,6}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb8e1c6559efcabe23c87c06bf15fd09:a3f19f6e68bd42e26b41fdd808a7a9bf:7d5301b4eb561cd2f91cf76782aee789$</string>
            <key>textureFileName</key>
            <string>ghysx.png</string>
        </dict>
    </dict>
</plist>
